{# This section contains #}
{% load static %}
{% load extra_filters %}
<div class="row mb-2">
    <div class="col-md-4 d-flex align-items-center bg-blue text-white rounded">
        <div class="ma">
            <h2>Planning/Preparation</h2>
        </div>
    </div>
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">Liaise with Principal Contractor to identify on-site safety systems
                and
                procedures
            </li>
            <li class="list-group-item">Establish supervisory and communication arrangements</li>
            <li class="list-group-item">Principal contractor to confirm emergency response procedures are in
                place
            </li>
        </ul>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-4 d-flex align-items-center bg-blue text-white rounded">
        <div class="ma p-3">
            <h2>Hold Points</h2>
        </div>
    </div>
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">Hold points identified and signed off before continuing work.</li>
        </ul>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-4 d-flex align-items-center bg-blue text-white rounded">
        <div class="ma">
            <h2>Training/Licence</h2>
        </div>
    </div>
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">All workers to have a General Construction Induction Card.</li>
            <li class="list-group-item">Relevant workers have relevant certificates of competency, licenses,
                and
                training.
            </li>
            <li class="list-group-item">Trained First Aider on site.</li>
            <li class="list-group-item">All workers trained in site-specific emergency and evacuation
                procedures, SWMS, safe work procedures, and safety data sheets.
            </li>
        </ul>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-4 d-flex align-items-center bg-blue text-white rounded">
        <div class="ma">
            <h2>Worker duties</h2>
            <h2> and responsibilities</h2>
        </div>
    </div>
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">Fit condition for work, i.e. no signs of fatigue, alcohol or
                drugs.
            </li>
            <li class="list-group-item">Attend all site inductions/briefings</li>
            <li class="list-group-item">Comply with all site requirements, e.g. PPE, Traffic Management
                Plans
                (TMP)
            </li>
            <li class="list-group-item">Only carry out work related to the contract</li>
            <li class="list-group-item">Inspect completed work and report possible safety, environmental and
                quality matters to the Supervisor.
            </li>
        </ul>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-4 d-flex align-items-center bg-blue text-white rounded">
        <div class="ma">
            <h2>Monitor/Review</h2>
        </div>
    </div>
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">All persons involved in the task must have this SWMS communicated to
                them before work commences
            </li>
            <li class="list-group-item">SWMS to be reviewed and amended if necessary, in consultation with
                relevant persons after any near miss or incident
            </li>
            <li class="list-group-item">If additional site hazards identified, review this SWMS and amend
                control measures to suit
            </li>
            <li class="list-group-item">People, including workers, contractors and sub-contractors, affected
                by
                the revisions to this SWMS, must be informed ASAP
            </li>
            <li class="list-group-item">Give the principal contractor a copy of the revised SWMS</li>
            <li class="list-group-item">The site supervisor to monitor works against the controls stated in
                this
                SWMS
            </li>
            <li class="list-group-item">SWMS must be kept on-site and made available for inspection or
                review
            </li>
            <li class="list-group-item">Keep a record of this SWMS until the job is complete or for two
                years if
                involved in a notifiable incident
            </li>
            <li class="list-group-item">Regardless of any other factor, the person in control of the
                workplace
                must review this SWMS at least annually.
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="site_notes"></textarea>
            <label for="site_notes">Site-Specific Notes:</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="d-flex align-items-center bg-blue text-white rounded">
            <div class="ma p-2">
                <h3>Act, Regulations, Codes of Practice References</h3>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Work Health and Safety Act 2017</li>
            <li class="list-group-item">Work Health and Safety Regulation 2017</li>
            <li class="list-group-item">Work Health and Safety Induction Training</li>
            <li class="list-group-item">Noise Management Protection of Hearing</li>
            <li class="list-group-item">Contaminated Land Management Act 1997</li>
            <li class="list-group-item">Hazardous Chemical Act 1985</li>
            <li class="list-group-item">Threatened Species Act 1995</li>
            <li class="list-group-item">Heritage Act 1997</li>
            <li class="list-group-item">Rural Fires Act 1997</li>
            <li class="list-group-item">Protection of Environmental operation Act 1997</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="bg-blue text-white">Likelihood</th>
                    <th scope="col" class="bg-blue text-white">Insignificant</th>
                    <th scope="col" class="bg-blue text-white">Minor</th>
                    <th scope="col" class="bg-blue text-white">Moderate</th>
                    <th scope="col" class="bg-blue text-white">Major</th>
                    <th scope="col" class="bg-blue text-white">Catastrophic</th>
                    <th scope="col" class="bg-blue text-white"></th>
                    <th scope="col" class="bg-blue text-white"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="bg-blue text-white">Almost Certain</th>
                    <td class="bg-orange text-white">3 - High</td>
                    <td class="bg-orange text-white">3 - High</td>
                    <td class="bg-red text-white">4 - Acute</td>
                    <td class="bg-red text-white">4 - Acute</td>
                    <td class="bg-red text-white">4 - Acute</td>
                    <td class="bg-blue text-white">Score</td>
                    <td class="bg-blue text-white">Action</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-blue text-white">Likely</th>
                    <td class="bg-yellow text-white">2 - Moderate</td>
                    <td class="bg-orange text-white">3 - High</td>
                    <td class="bg-orange text-white">3 - High</td>
                    <td class="bg-red text-white">4 - Acute</td>
                    <td class="bg-red text-white">4 - Acute</td>
                    <td>4A - Acute</td>
                    <td class="text-danger">DO NOT PROCEED</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-blue text-white">Possible</th>
                    <td class="bg-green text-white">1 - Low</td>
                    <td class="bg-yellow text-white">2 - Moderate</td>
                    <td class="bg-orange text-white">3 - High</td>
                    <td class="bg-red text-white">4 - Acute</td>
                    <td class="bg-red text-white">4 - Acute</td>
                    <td>3H - High</td>
                    <td>Review before commencing work</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-blue text-white">Unlikely</th>
                    <td class="bg-green text-white">1 - Low</td>
                    <td class="bg-green text-white">1 - Low</td>
                    <td class="bg-yellow text-white">2 - Moderate</td>
                    <td class="bg-orange text-white">3 - High</td>
                    <td class="bg-red text-white">4 - Acute</td>
                    <td>2M - Moderate</td>
                    <td>Maintain control measures</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-blue text-white">Rare</th>
                    <td class="bg-green text-white">1 - Low</td>
                    <td class="bg-green text-white">1 - Low</td>
                    <td class="bg-yellow text-white">2 - Moderate</td>
                    <td class="bg-orange text-white">3 - High</td>
                    <td class="bg-orange text-white">3 - High</td>
                    <td>1L - Low</td>
                    <td>Record and monitor.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="{% static 'images/hierarchy_of_controls.png' %}"
             class="responsive">
    </div>
</div>