{% load static %}
{% load extra_filters %}
<div class="row bg-white header">
    <div class="col-md-6 float-start">
        <img src="{% static 'images/logo.png' %}" class="responsive">
    </div>
    <div class="col-md-6 float-end ">
        <div class="text-right align-text-bottom">
            Business Address: Unit 4, 22 Hudson Ave, Castle Hill NSW 2154
            Postal Address: PO Box 6271, Baulkham Hills NSW 2153
            T: 02 9899 5388 F: 02 9899 5366
            www.extremefire.com.au
        </div>

    </div>
</div>